.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper.dark {
  background: #192a56;
}

.wrapper.form {
  justify-content: space-between;
}

.wrapper .imege {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 60%;
  background-color: white;
  border-radius: 0 120px 120px 0;
}

.wrapper .imege img {
  width: 60%;
}

.wrapper .imege .tag {
  font-size: 50px;
  margin-top: 30px;
  font-family: cursive;
  text-align: center;
}

.wrapper .forms {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  width: 400px;
  /* width: 23%; */
  background-color: white;
  text-align: left;
  padding: 20px;
  border-radius: 10px;
  margin-right: 40px;
}

form .error {
  display: block;
  text-align: center;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  color: #842029;
  background-color: #f8d7da;
}

form h1 {
  text-align: center;
  font-family: cursive;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

form h1 > sup {
  color: gray;
  font-size: 18px;
}

form h2 {
  padding-bottom: 10px;
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.479);
  border-bottom: 2px solid rgba(0, 0, 0, 0.158);
}

form .input-group {
  position: relative;
}

form .input-group input {
  width: 100%;
  margin-bottom: 20px;
  height: 50px;
  border-radius: 5px;
  outline: none;
  border: none;
  border: 2px solid rgba(0, 0, 0, 0.493);
  font-size: 18px;
  padding: 10px 20px 0 20px;
}

form .input-group input:focus {
  border: 2px solid #4b7bec;
}

form .input-group label {
  position: absolute;
  display: block;
  top: 10px;
  left: 10px;
  font-size: 20px;
  pointer-events: none;
  transition: 0.5s ease-in-out;
}

form .input-group span {
  position: absolute;
  display: block;
  top: 10px;
  right: 10px;
  font-size: 20px;
  transition: 0.1s;
  cursor: pointer;
}

form .input-group input:focus + label,
form .input-group input:valid + label {
  top: 0;
  font-size: 15px;
  color: #4b7bec;
}

form input[type="submit"] {
  background-color: #4b7bec;
  color: white;
  border: 2px solid #4b7bec;
  cursor: pointer;
  transition: 0.2s;
  padding: 0;
}

form input[type="submit"]:hover {
  background-color: #2862eb;
}

form .file {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

form .file img {
  width: 50px;
}

form p {
  margin-top: 20px;
  text-align: center;
  text-transform: capitalize;
}

.authAnimation {
  width: 100%;
  margin-bottom: 20px;
  height: 50px;
  border-radius: 5px;
  background-color: #bebcbc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.authAnimation .spin {
  height: 35px;
  width: 35px;
  margin: 0 auto;
  border: 6px solid white;
  border-top: 6px solid #bebcbc;
  border-radius: 50%;
  animation-name: spin;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  .wrapper {
    height: auto;
  }
  .wrapper.form {
    display: block;
  }

  .wrapper .imege {
    /* height: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-color: white;
    border-radius: 0;
    margin-bottom: 50px;
    border-radius: 0 0 20px 20px;
    padding: 20px;
  }

  .wrapper .imege .tag {
    font-size: 17px;
    margin-top: 30px;
    font-family: cursive;
    text-align: center;
  }

  .wrapper .imege img {
    width: 47%;
  }

  .wrapper .forms {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  form {
    width: 400px;
    background-color: white;
    text-align: left;
    padding: 12px 20px;
    border-radius: 10px;
    margin-right: 0;
  }

  form h2 {
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    text-align: center;
    color: rgba(0, 0, 0, 0.479);
    border-bottom: 2px solid rgba(0, 0, 0, 0.158);
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .wrapper {
    height: auto;
  }
  .wrapper.form {
    display: block;
  }

  .wrapper .imege {
    /* height: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-color: white;
    border-radius: 0;
    margin-bottom: 50px;
    border-radius: 0 0 20px 20px;
    padding: 20px;
  }

  .wrapper .imege .tag {
    font-size: 24px;
    margin-top: 30px;
    font-family: cursive;
    text-align: center;
  }

  .wrapper .imege img {
    width: 47%;
  }

  .wrapper .forms {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  form {
    width: 400px;
    background-color: white;
    text-align: left;
    padding: 12px 20px;
    border-radius: 10px;
    margin-right: 0;
  }

  form h2 {
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    text-align: center;
    color: rgba(0, 0, 0, 0.479);
    border-bottom: 2px solid rgba(0, 0, 0, 0.158);
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .wrapper {
    height: auto;
  }
  .wrapper.form {
    display: block;
  }

  .wrapper .imege {
    /* height: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-color: white;
    border-radius: 0;
    margin-bottom: 50px;
    border-radius: 0 0 20px 20px;
    padding: 20px;
  }

  .wrapper .imege .tag {
    font-size: 24px;
    margin-top: 30px;
    font-family: cursive;
    text-align: center;
  }

  .wrapper .imege img {
    width: 47%;
  }

  .wrapper .forms {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  form {
    width: 400px;
    background-color: white;
    text-align: left;
    padding: 12px 20px;
    border-radius: 10px;
    margin-right: 0;
  }

  form h2 {
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    text-align: center;
    color: rgba(0, 0, 0, 0.479);
    border-bottom: 2px solid rgba(0, 0, 0, 0.158);
  }
}
