:root {
  --dark: #0e255a;
}

.home {
  height: 750px;
  /* height: 90%; */
  width: 1200px;
  /* background-color: red; */
  border-radius: 10px;
  display: flex;
  /* align-items: center; */
  /* justify-content: space-between; */
  overflow: hidden;
}

.home .sidebar {
  width: 40%;
  height: 100%;
  background-color: #1850d3;
  transition: 0.4s;
}

.sidebar.dark {
  background-color: var(--dark) !important;
}

.sidebar .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  background-color: #0e255a;
  color: white;
  padding: 10px;
}

.navbar .logo h3 {
  display: flex;
  line-height: 50px;
  font-family: cursive;
}

.navbar .logo h3 > sup {
  color: gray;
}

.navbar .user {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .user img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

.navbar .user span {
  font-size: 20px;
  margin-right: 10px;
  text-transform: capitalize;
}

.navbar .user button {
  padding: 5px;
  background-color: #183c8f;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
}

.search {
  border-bottom: 2px solid gray;
}

.search .searchForm input {
  width: 100%;
  height: 50px;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0 20px;
  font-size: 20px;
  color: white;
}

.search .searchForm input::placeholder {
  color: lightgray;
}

.sidebar .chats {
  height: auto;
  overflow-y: scroll;
}

.userChat {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  cursor: pointer;
}

.userChat img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
}

.userChatInfo {
  text-align: left;
  color: white;
}

.userChatInfo h3 {
  text-transform: capitalize;
}

.userChatInfo span {
  color: lightgray;
}

.userChat:hover {
  background-color: #0e255a;
}

.userChat.dark:hover {
  background-color: rgb(86, 91, 121) !important;
}

.chat {
  width: 60%;
  transition: 0.4s;
}

.chat header {
  height: 80px;
  width: 100%;
  background-color: #1850d3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  color: white;
  text-transform: capitalize;
}

.chat header.dark {
  background-color: #0e255a !important;
}

.chat header .user_profile {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.chat header img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.chat header .themePreferance {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.chat header .themePreferance button {
  color: white;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.chat header .themePreferance .showChats {
  display: none;
}

.chat .messages,
.chat .welcomeScreen {
  background-color: rgb(166, 178, 247);
  padding: 10px;
  height: calc(100% - 130px);
  overflow-y: scroll;
}

.chat .messages {
  overflow-y: scroll;
  /* height: 100%; */
}

.chat .messages.dark,
.chat .welcomeScreen.dark {
  background-color: rgb(53, 64, 125);
  color: white;
}

.chat .welcomeScreen {
  height: 92%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: gray;
  overflow: hidden;
}

.chat .welcomeScreen img {
  width: 126%;
}

.chat .welcomeScreen .logo {
  font-size: 120px;
  font-family: cursive;
  padding: 20px;
  border: 5px solid gray;
  border-radius: 50%;
  margin-bottom: 20px;
}

.chat .messages .message {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.chat .messages .messageContent p {
  color: black;
}

.chat .messages .owner {
  flex-direction: row-reverse;
}

.chat .messages .owner .messageContent p {
  background-color: #183c8f;
  color: white;
  border-radius: 10px 10px 0px 10px;
}

.messages .message .messageInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.messages .message .messageInfo img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.messages .message .messageInfo span {
  color: gray;
}

.messages .message .messageContent {
  max-width: 80%;
}
.messages .message .messageContent p {
  background-color: white;
  padding: 10px;
  border-radius: 0 10px 10px 10px;
}

.messages .message .messageContent a {
  position: relative;
  text-decoration: none;
  color: black;
}

.messages .message .messageContent a .tooltip {
  position: absolute;
  top: 10px;
  left: 100px;
  padding: 3px;
  border-radius: 5px;
  background-color: white;
  transition: 0.5s;
  visibility: hidden;
}

.messages .message .messageContent a:hover .tooltip {
  visibility: visible;
}

.messages .message .messageContent img {
  width: 264px;
}

.chat .input {
  width: 100%;
  height: 50px;
  background-color: white;
  padding: 0 10px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0;
}

.chat .input input {
  height: 100%;
  width: 80%;
  padding: 10px;
  font-size: 20px;
  border: none;
  outline: none;
}

.chat .input button {
  padding: 8px 19px;
  background-color: #183c8f;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
}

.file {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  cursor: pointer;
}

.chat .input .file {
  margin: 0;
}

.file img {
  width: 40px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .home {
    height: 100%;
    border-radius: 0;
    position: relative;
  }

  .home .sidebar {
    position: absolute;
    height: 100%;
    top: 0;
    left: -100%;
    width: 100%;
    transition: 0.4s linear;
    z-index: 99;
  }

  .home .sidebar.showSidebar {
    left: 0;
  }

  .home .chat {
    width: 100%;
  }

  .chat header .themePreferance .showChats {
    display: block;
  }

  .messages .message .messageContent img {
    width: 203px;
  }

  .Toastify__toast {
    width: 100%;
    position: absolute;

    top: 90vh;
    z-index: 0;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .home {
    height: 100%;
    border-radius: 0;
    position: relative;
  }

  .home .sidebar {
    position: absolute;
    height: 100%;
    top: 0;
    left: -100%;
    width: 100%;
    transition: 0.4s linear;
    z-index: 99;
  }

  .home .sidebar.showSidebar {
    left: 0;
  }

  .home .chat {
    width: 100%;
  }

  .chat header .themePreferance .showChats {
    display: block;
  }

  .messages .message .messageContent img {
    width: 203px;
  }

  .Toastify__toast {
    width: 100%;
    position: absolute;

    top: 90vh;
    z-index: 0;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .home {
    height: 100%;
    border-radius: 0;
    position: relative;
  }

  .home .sidebar {
    position: absolute;
    height: 100%;
    top: 0;
    left: -100%;
    width: 60%;
    transition: 0.4s linear;
    z-index: 99;
  }

  .home .sidebar.showSidebar {
    left: 0;
  }

  .home .chat {
    width: 100%;
  }

  .chat header .themePreferance .showChats {
    display: block;
  }

  .messages .message .messageContent img {
    width: 203px;
  }

  .Toastify__toast {
    width: 100%;
    position: absolute;

    top: 90vh;
    z-index: 0;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .home {
    height: 100%;
    border-radius: 0;
    position: relative;
  }

  .home .sidebar {
    width: 50%;
    transition: 0.4s linear;
    z-index: 99;
  }

  .home .chat {
    width: 50%;
  }
}
